.menu-bar-icon {
    height: 60px;
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    background-color: transparent;
    background-image: none;
    font-size: 30px;
    padding: 0 24px;
    border: 0px;
    cursor: pointer;
}
.profile-dropdown-icon {
    width: 18px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    line-height: 15px;
}

.card {
    border: 1px solid #d6d6d6;
    box-shadow: none;
}

.card div input,
.card div select,
.modal-content div input {
    border-color: #d6d6d6 !important;
}

.colors-section input {
    border: none !important;
}

.product-sizes-wrapper .form-check-inline:nth-child(1) {
    padding-left: 0px !important;
}

.product-sizes-wrapper {
    margin-top: 10px;
}
.select2.select2-container {
    display: block;
    width: 100%;
    padding: 0.59rem 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fdfdfd;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.select2-selection {
    border: none !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 50% !important;
    bottom: 50% !important;
    transform: translateY(-50%) !important;
}

#categories .highlighted {
    font-weight: bold;
    /* Add other styles as needed */
}
.l2 {
    padding-left: 1em;
}
.l3 {
    padding-left: 1.2em;
}

/*--------Login Page-----------*/

.loginsect .card {
    border: 0;
    box-shadow: 2px 2px 10px 3px #ccc;
    border-radius: 15px;
}

.loginsect .card .form-control {
    height: 50px;
    border: 1px solid #bdbdbd !important;
    border-radius: 6px;
}

.loginsect .card .form-control:focus {
    outline: 0;
    box-shadow: none !important;
}

.loginsect a {
    text-decoration: none;
    color: #444;
}

.sign-inup .card form button {
    width: 100%;
    margin: auto;
    padding: 12px;
    font-size: 16px;
    background-image: linear-gradient(-72deg, #2481bc 0%, #41a4e8 100%);
    border: 0;
}

.cursor-none {
    cursor: auto !important;
}
